BETTER_AUTH_SECRET=""
BETTER_AUTH_API_KEY=""
BETTER_AUTH_URL="http://localhost:3000" # Base URL of your app
BLOB_READ_WRITE_TOKEN=""
DATABASE_URL="postgres://username:password@localhost:5432/database_name"
NEXT_PUBLIC_BASE_URL="http://localhost:3000" # Base URL of your app for client-side code

DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""